* {
    padding: 0;
    margin: 0;
}

/* banner start  */
.banner {
    background-image: url(../banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
    margin-bottom: 130px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
}

.banner-description {
    margin-right: 150px;
}

.banner-description h1 {
    margin-bottom: 24px;
    line-height: 76px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.banner-description p {
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

button {
    margin-top: 32px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px 26px;
    border: none;
}

.container-1 {
    display: flex;
    align-items: center;
    margin: 0 250px;
    gap: 80px;
}


.container-1 p {
    margin: 24px 0px 16px 0;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    line-height: 22px;
}

.container-1 h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

ul li {
    list-style: none;
}

ul li i {
    margin-right: 10px;

}

.hello {
    line-height: 25px;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
}

.my-plans {
    margin: 130px 0 50px 0;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-around;
    margin: 0 230px 130px 230px;
    gap: 80px;
    text-align: center;
}

.plans h3 {
    font-weight: 700;
    font-size: 30px;
    margin: 24px 0 15px 0;

}

.plans p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}


.banner-2 {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    margin: 0 230px;
    border-radius: 8px;
    margin-bottom: 130px;
}

.banner-2 h3 {
    font-weight: 700;
    font-size: 40px;
    color: white;
}